@font-face {
    font-family: "AnonymousPro";
    src: url("anonymousPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "AnonymousPro";
    src: url("anonymousPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

:root {
    --dark-green: #0b0c10;
    --highlight-color: #0e659e;
    --main-color: #66fcf1;
    --lighter-main: #45a29e;
    --dark-main: #1f2833;
}


.plans a {
    text-decoration: none;
    padding:2rem;
    cursor: default;
}

main {
    padding-top: .5rem;
}

.background {
    background-image: url(../images/plans-background.jpg);
    filter: grayscale(40%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package {
    width: 80%;
    margin: 1rem 0;
    border:4px solid var(--dark-main);
    border-left: none;
    position: relative;
    z-index: 0;
    overflow:hidden;
}

.package:hover,
.package:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: red;
    animation: package-slide 1s ease-out forwards;
}

.package a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    font-size: .8rem;
    color: white;
    background: #ff5454;
    padding: .5rem;
    z-index: 10;
    transform: rotateZ(45deg) translate(3.5rem, -1rem);
    transform-origin: center;
    width: 12rem;
    text-align: center;
}

.sub-title {
    color: grey;
}

.description {
    padding: 1rem;
    border: 1px solid rgb(0, 44, 0);
    color: var(--dark-main);
    background: white;
    font: 700 1.2rem "AnonymousPro", sans-serif;
    /* font variant then font style then font weight then font size then font family */
}

.clearfix {
    clear: both;
}

#plus {
    background: rgba(219, 244, 248, 0.95);
    margin-top: 2.5rem;
}

#free {
    background: rgba(219, 244, 248, 0.95);
    float: right;
    border-right:none;
    border-left:4px solid var(--dark-main);
    text-align: right;
}

#free:hover,
#free:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: red;
}

#premium {
    background: rgba(14, 48, 79, 0.95);
}

#premium .title {
    color: white;
}

#premium .sub-title {
    color: rgb(146, 146, 146);
}

@media (min-width: 40rem) {
    main {
        margin-left: auto;
        margin-right: auto;
        max-width: 1500px;
    }
}

@media (min-width: 1500px) {
    .package {
        border-left: 4px solid var(--dark-main);
    }

    #free {
        border-right: 4px solid var(--dark-main);
    }

    #free:hover,
    #free:active {
        border-right-color: #ff5454;
    }
}

@keyframes package-slide {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1.5rem);
    }
    100% {
        transform: translateY(-1rem);
    }
}